@use "header.scss";
@use "footer.scss";
@import "util.scss";

div.container-form{
    margin:0.5rem;
    background-color:$color4;
    padding:0.5rem;
    border-radius:0.5rem;
}

form#form_contact{
    display:flex;
    flex-direction:column;
    >input[type=submit]{
        margin:0.5rem;
        background-color:$color5;
        border:none;
        color:inherit;
        padding:0.9rem 2rem;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size:1rem;
        cursor:pointer;
        color:$color1;
    }
}

div.main-container-mesaje{
    background-color:$color4;
    padding:0.5rem;
    border-radius:0.5rem;
    margin:0.5rem;
    
}

article.mesaj-c{
    background-color:$color3;
    z-index:1;
    padding:0.5rem;
    border-radius:0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color:$color5;
    margin:0.5rem;
}
