<!DOCTYPE html>
<html lang="ro">
<head>
    <%-include("../fragmente/head")%>
    <link rel="stylesheet" href="/css/eroriStyle.css">
</head>
<body>
    <%-include("../fragmente/header")%>
    <main >
        <section class="box" id="contentError">
            <h2>Eroare 403</h2>
            <img src="/imagini/erori/lupa.png" />
            <p>Hm....detectiv? Ce cauți tu aici? Du-te acasă!</p>
        </section>
    </main> 
    <%-include("../fragmente/footer")%>
</body>
</html>