<!DOCTYPE html>
<html>
    <head>
        <%-include("../fragmente/head")%>
        <link rel="stylesheet" href="/css/status.css">
    </head>
    <body>
        <%-include("../fragmente/header")%>
        <main class="page-content">
            <section class="content-status">
                <h2><i class="fa-solid fa-circle-info fa-xl fa-fade"></i>Informare</h2>
                <p><%-locals.message%></p>
                <a href="/home">Mergi către pagina principala</a>
            </section>
        </main>
        <%-include("../fragmente/footer")%>
    </body>
</html>