<!DOCTYPE html>
<html lang="ro">
<head>
    <%-include("../fragmente/head")%>
    <link rel="stylesheet" href="/css/termeni-conditii.css">
</head>
<body>
    <%-include("../fragmente/header")%>
    <main>
        <section class="main-content">
            <h2><i class="fa fa-gavel fa-2xl"></i>Termeni și condiții</h2>
            <h3>ACCEPTAREA CONDITIILOR</h3>
            <p>Prin accesarea acestui site web si/sau a oricarei pagini a acestuia sunteti de acord cu aceste conditii de utilizare. Daca nu sunteti de acord cu acesti termeni si conditii de utilizare, nu accesati acest site.</p>
            <h3>DESCRIEREA SERVICIILOR</h3>
            <p>Siteul nostru va pune la dispozitie informatiile din acest site web in scop informativ general si nu garanteaza de exactitatea lor la un moment dat, desi se va incerca pe cat posibil ca la publicarea lor pe site toate informatiile sa fie exacte.</p>
            <h3>INTRODUCERE</h3>
            <p>Prezentele Conditii Generale definesc conditiile de utilizare a site-ului PIXELPRO de catre potentialii vizitatori sau clienti. Accesând si navigând pe acest site, acceptati termenii de utilizare descrisi în continuare.</p>
            <h3>S.C. PixelPro Computers. (denumita în continuare PIXELPRO), nu va transfera titlul de proprietate asupra aplicatiilor software .</h3>
            <p>PIXELPRO detine drepturi complete si depline asupra titlului de proprietate si prin aceasta toate drepturile de autor si cele brevetate. Nu aveti dreptul sa redistribuiti, vindeti, decompilati, dezasamblati aplicatia software într-o forma perceptibila de catre oameni.</p>
            <p>Toate informatiile, produsele sau aplicatiile continute în acest site sunt proprietatea PIXELPRO, care îsi rezerva dreptul de a modifica continutul si/sau structura site-ului în orice moment si fara nici o informare prealabila.</p>
            <p>Întregul continut al site-ului PIXELPRO este protejat prin legea drepturilor de autor, toate drepturile fiind rezervate. Toate drepturile referitoare la pagini, continutul si prezentarea site-ului sunt detinute de PIXELPRO. Este interzisa copierea, modificarea, afisarea, distribuirea, transmiterea, publicarea, comercializarea, licentierea, crearea unor materiale derivate sau utilizarea continutului site-ului în orice scop fara confirmarea scrisa din partea PIXELPRO.</p>
            <p>Accesul si utilizarea paginii PIXELPRO sunt gratuite si au scopul de a veni in ajutorul utilizatorilor pentru a gasi informatiile necesare în cel mai usor si rapid mod posibil, conform cerintelor fiecaruia.</P>
            <p>Informatiile prezente pe PIXELPRO sunt de interes general si sunt puse la dispozitia utilizatorilor în mod gratuit. Prin termenul „utilizator” al acestei pagini se întelege orice persoana fizica sau juridica care va accesa pagina. Puteti copia si tipari continutul paginii PIXELPRO pentru folosinta dumneavoastra personala, fara intentii comerciale. În orice alte situatii, continutul PIXELPRO nu poate fi reprodus, modificat sau exploatat fara consimtamântul explicit al reprezentantilor PIXELPRO.</p>
            <h3>NEANGAJAREA RASPUNDERII</h3>
            <p>Continutul informatiilor se refera la descrierea într-un anumit grad de detaliere a activitatilor, produselor si serviciilor PIXELPRO. PIXELPRO nu va acorda nici o garantie referitoare la:</p>
            <ul>
                <li>evitarea utilizarii anevoioase sau întreruperii în utilizare a site-ului;</li>
                <li>neafectarea în sens negativ a altor sisteme prin utilizarea site-ului;</li>
                <li>inexistenta pe site-ul pus la dispozitie a virusilor sau alte componente care ar putea dauna utilizatorilor.</li>
            </ul>

            <p>Toate informatiile prezentate pe site cu privire la produsele PIXELPRO, preturi, informatii, campanii si promotii de marketing, aspecte tehnice, sunt prezentate cu titlu informativ. Nimic din continutul site-ului PIXELPRO nu poate constitui o oferta ferma de a contracta si nu poate angaja raspunderea Amigio în lipsa unor acorduri ulterioare.</p>
            <p>Continutul paginii web PIXELPRO, a informatiilor si a altor materiale prezentate de Comunitatea PIXELPRO nu reprezinta o consultatie juridica în sensul Legii nr. 51/1995.</p>
            <p>GDPR este un set de reguli bazat pe principii complexe, care este deschis la interpretare si cotine, de asemenea, numeroase domenii în care statele membre sunt invitate sa intervina. În prezent exista foarte putine îndrumari cu privire la implementarea GDPR si este posibil ca Autoritatile de Supraveghere sa aiba puncte de vedere diferite fata de cele exprimate în acest șablon. În ciuda eforturilor noastre de a oferi cele mai bune servicii, nu putem anticipa cu exactitate modul în care Autoritatea de Supraveghere sau instanțele de judecata vor interpreta Regulamentul.</p>
            <p>PIXELPRO nu face nicio declaratie, promisiune sau garantie cu privire la exactitatea, exhaustivitatea sau caracterul adecvat al prezentului continut, al îndrumarilor si a consultantei, nu îsi asuma nicio obligatie de rezultat sau diligenta fata de nicio persoana, exclud în mod expres si neaga raspunderea pentru orice cost, pierdere sau daunele suferite ca urmare a utilizarii continutului.</p>

            <h3>INFORMATIILE OFERITE PRIN INTERMEDIUL SITE-ULUI</h3>
            <p>Orice persoana care viziteaza site-ul PIXELPRO si care ofera date sau informatii cu caracter personal prin intermediul acestui site îsi manifesta acordul în mod expres si neechivoc pentru urmatoarele: prelucrarea acestor date si informatii personale de catre PIXELPRO; transmiterii de materiale promotionale specifice operatiunilor de marketing direct; solutionarea de catre PIXELPRO a cererilor, întrebarilor si reclamatiilor adresate (a se vedea pagina Contact din site); alte activitati întreprinse de PIXELPRO si permise de lege, ce nu fac obiectul unei aprobari din partea destinatarului.</p>
            <p>PIXELPRO va pastra confidentialitatea acestor informatii.</p>
        </section>
    </main> 
    <%-include("../fragmente/footer")%>
</body>
</html>