@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap");
div.triunghi {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #02a9f7;
  transition: all 1s;
  transition-property: border-bottom, transform, opacity;
  transform: translateY(0);
}

a.goTop {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  border-radius: 25px;
  border-left: 10px solid #02a9f7;
  border-right: 10px solid #02a9f7;
  z-index: 1;
}

a.goTop:hover {
  transition: all 1s;
  transition-property: border-left, border-right;
  border-left: 10px solid black;
  border-right: 10px solid black;
}

a.goTop:hover > div {
  transition: all 1s;
  transition-property: border-bottom, transform, opacity;
  transform: translateY(-70%);
  border-bottom: 10px solid black;
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Radio Canada";
  margin: 0.5rem;
  box-sizing: border-box;
  background-color: #d4f0fc;
  font-size-adjust: 0.55;
}

.dark {
  background-color: #333333;
  color: #d4f0fc;
}

.active {
  background-color: #d4f0fc;
}

hr {
  height: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 25px solid #02577a;
  border-left: 25px solid #02577a;
  background-clip: content-box;
  background-color: #02577a;
}

#sectiune-galerie-animata {
  padding-left: var(--padding-intern);
  /* variabila din css-ul general*/
  padding-right: var(--padding-intern);
}

.galerie-a {
  width: 300px;
  height: 150px;
  border: 4px inset #02577a;
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.galerie-a figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}

.galerie-a figure {
  position: relative;
  width: 300px;
  height: 150px;
  margin: 0;
}

#galerie-animata figure {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  animation-name: gal_exemplu;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 21s;
  transform-origin: center center;
}

#galerie-animata figure:nth-of-type(1) {
  animation-delay: 0s;
}
#galerie-animata figure:nth-of-type(2) {
  animation-delay: 3s;
}
#galerie-animata figure:nth-of-type(3) {
  animation-delay: 6s;
}
#galerie-animata figure:nth-of-type(4) {
  animation-delay: 9s;
}
#galerie-animata figure:nth-of-type(5) {
  animation-delay: 12s;
}
#galerie-animata figure:nth-of-type(6) {
  animation-delay: 15s;
}
#galerie-animata figure:nth-of-type(7) {
  animation-delay: 18s;
}
#galerie-animata:hover figure {
  animation-play-state: paused;
}

/*cum calculam timpii:
- avem 7 poze; vrem pentru fiecare un timp de afisare de 1.5 secunde si o trecere spre urmatoarea poza de 1.5 secunde
- rezulta 3 secunde pentru fiecare imagine
- 7imagini * 3secunde =21 secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.285714(aproximativ)
100%..... 21s
x%........3s

- calculam 100-14.285714=85.714286 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii
*/
@keyframes gal_exemplu {
  0% {
    z-index: 10;
    opacity: 1;
  }
  /*perioada 0-5% in care se afiseaza fara efect */
  7.1428571429% {
    transform: skewX(0deg);
  }
  /*transformare inceput disparitie*/
  12% {
    opacity: 1;
  }
  /* de  aici doresc sa descresc si opacitatea;*/
  14.1857142857% {
    z-index: 10;
    opacity: 0;
    transform: skewX(90deg);
  }
  14.2857142857% {
    z-index: -10;
    transform: skewX(0deg);
  }
  /* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
  85.6142857143% {
    opacity: 0;
    transform: skewX(0deg);
    z-index: -10;
  }
  85.7142857143% {
    z-index: 0;
  }
  /*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
  100% {
    opacity: 1;
    z-index: 0;
  }
}
@media screen and (max-width: 650px) {
  #sectiune-galerie-animata {
    display: none;
  }
}

/*# sourceMappingURL=galerie_animata_frag.css.map */
